@page "/ToDos"

@using ASP.NET.BlazorApp.Models
<h3>ToDos</h3>


<div class="">
    <ul>
        @foreach (var toDo in toDos)
        {
            <li>
                <p>@toDo.Description</p>
                <p>@toDo.IsCompleted</p>
            </li>
        }
    </ul>
</div>



@code {

   public List<ToDo> toDos = new List<ToDo>()
                {
                new ToDo()
                {
                    Id=0,
                    Description="First To To",
                    IsCompleted=true
                },
                new ToDo()
                {
                    Id=1,
                    Description="Second To To",
                    IsCompleted=true
                },
                new ToDo()
                {
                    Id=2,
                    Description="Third To To",
                    IsCompleted=true
                },
                new ToDo()
                {
                    Id=3,
                    Description="Fourth To To",
                    IsCompleted=true
                },
                new ToDo()
                {
                    Id=4,
                    Description="Fifth To To",
                    IsCompleted=true
                }
            };


}
